<div id="logIn_Wrapper" class="page-content">
    <section>
        <div class="row" style="margin: 0px !important;">
            <div class="col-lg-3"></div>
            <div style="font-family: anton;" class="text-warning col-lg-6 text-center display-4">
                LOGIN
            </div>
            <div class="col-lg-3"></div>
        </div>
        <div class="row" style="margin: 0px !important;">
            <div class="col-lg-3"></div>
            <div style="margin-top: 30px;" class="text-white col-lg-6 text-center">
                Enter Your Login Details Below
            </div>
            <div class="col-lg-3"></div>
        </div>
        <div class="row" style="margin: 0px !important;">
            <div class="col-lg-3"></div>
            <div style="margin-top: 30px; font-family: anton;" class="col-lg-6">
                <label class="text-white">Email* :</label>
                <input class="form-control bg-dark btn-outline-light text-white" placeholder="e.g: johnny.appleseed@gmail.com" v-model="email" />
            </div>
            <div class="col-lg-3"></div>
        </div>
        <div class="row" style="margin: 0px !important;">
            <div class="col-lg-3"></div>
            <div style="margin-top: 10px; font-family: anton;" class="col-lg-6">
                <label class="text-white">Password* :</label>
                <input class="form-control bg-dark btn-outline-light text-white" placeholder="e.g: Appleseed" v-model="password" />
            </div>
            <div class="col-lg-3"></div>
        </div>
        <div class="row" style="margin: 0px !important;">
            <div class="col-lg-5"></div>
            <div style="margin-top: 30px; font-family: anton;" class="col-lg-2 text-center">
                <div class="text-danger">{{errorMessage}}</div>
                <submit class="btn btn-warning text-center" style="width: 100%;" v-on:click="validateLogin();">Log In</submit>
                <span class="text-white">OR</span>
                <router-link to="/SignUp" class="btn btn-warning text-center" style="width: 100%;">Sign Up</router-link>
            </div>
            <div class="col-lg-5"></div>
        </div>
    </section>
</div>